*{
    font-family: monospace;
    font-size: 16px;
    color: #cccccc;
}

body{
    background-color: black;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

img{
    display: block;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

p{
    margin: 0;
    padding: 0;
}
#input-container{
    width: 100%;
}
#input-label{
    display: inline;
    /*background-color: blue;*/
}

#input-span{
    display: inline;
    white-space: nowrap;
    /*background-color: red;*/
}
#input{
    background-color: transparent;
    border: none;
}
#input:focus{
    outline: none;
}