*{
    font-family: monospace;
    font-size: 16px;
    color: #d1dddd;
}

body{
    background-color: #333333;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

img{
    display: block;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

p{
    margin: 0;
    padding: 0;
}
#input-container{
    width: 100%;
}
#input-label{
    display: inline;
    /*background-color: blue;*/
}

#input-span{
    display: inline;
    white-space: nowrap;
    /*background-color: red;*/
}
#input{
    background-color: transparent;
    border: none;
}
#input:focus{
    outline: none;
}

::-webkit-scrollbar {
    background-color: #444444;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 3px;
    border: 2px solid transparent;
    background-clip: content-box;
}
